* { padding: 0; margin: 0; text-decoration:none;}
body { background: #323232;}
.gallery { overflow: hidden; position: absolute; left: 50%; top: 50%; width: 470px; height: 495px; transform: translate(-50%, -50%);}
.gallery button { position: absolute; right:5px; bottom:5px; z-index: 10; width:55px; height:55px; background: #fff; border: none; border-radius: 100%; transition: all .3s; outline: 0;}
.gallery button:after { content:"\e9c5"; font-family: 'xeicon'; font-size: 25px;}
.gallery.on button { transform: rotate(45deg);}
.gallery div { opacity: 0; position: absolute; left: 50%; top: 50%; z-index: -1; width: 70%;transform: translate(-50%, -50%); color:#fff; font-size: 30px; transition: opacity .5s .4s;}
.gallery div strong { display: block;}
.gallery.on  div { opacity: 1; z-index: 11;}
.gallery:before,
.gallery:after { content: ""; position: absolute; right: 5px; bottom: 5px; width:55px; height:55px; border-radius: 100%; transform: scale(0);}

.gallery:before { background: rgba(0,0,0,.5); transition: all .5s;}
.gallery:after { background:#fd3f01; transition: all .5s .2s;}
.hide { display: none;}
.gallery.on:before,
.gallery.on:after { transform: scale(25);}




/*  */
